<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>templateCommon</servlet-name>
		<servlet-class>ru.kmz.web.templatecommon.server.TemplateCommonServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>orderCommon</servlet-name>
		<servlet-class>ru.kmz.web.ordercommon.server.OrderCommonServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>templateModule</servlet-name>
		<servlet-class>ru.kmz.web.template.server.TemplateModuleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resourcesModule</servlet-name>
		<servlet-class>ru.kmz.web.resources.server.ResourcesModuleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>projectsModule</servlet-name>
		<servlet-class>ru.kmz.web.projects.server.ProjectsModuleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>purchasesModule</servlet-name>
		<servlet-class>ru.kmz.web.purchases.server.PurchasesModuleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>calendarModule</servlet-name>
		<servlet-class>ru.kmz.web.calendar.server.CalendarModuleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productionModule</servlet-name>
		<servlet-class>ru.kmz.web.production.server.ProductionModuleServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>administrationModule</servlet-name>
		<servlet-class>ru.kmz.web.administration.server.AdministrationModuleServiceImpl</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>administrationModule</servlet-name>
		<url-pattern>/kmzprogramm/administrationModule</url-pattern>
		<url-pattern>/administrationmodule/administrationModule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>projectsModule</servlet-name>
		<url-pattern>/kmzprogramm/projectsModule</url-pattern>
		<url-pattern>/projectsmodule/projectsModule</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>templateCommon</servlet-name>
		<url-pattern>/templatemodule/templateCommon</url-pattern>
		<url-pattern>/kmzprogramm/templateCommon</url-pattern>
		<url-pattern>/projectsmodule/templateCommon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderCommon</servlet-name>
		<url-pattern>/kmzprogramm/orderCommon</url-pattern>
		<url-pattern>/projectsmodule/orderCommon</url-pattern>
		<url-pattern>/ordermodule/orderCommon</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>templateModule</servlet-name>
		<url-pattern>/templatemodule/templateModule</url-pattern>
		<url-pattern>/kmzprogramm/templateModule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resourcesModule</servlet-name>
		<url-pattern>/resourcesmodule/resourcesModule</url-pattern>
		<url-pattern>/kmzprogramm/resourcesModule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>purchasesModule</servlet-name>
		<url-pattern>/purchasesmodule/purchasesModule</url-pattern>
		<url-pattern>/kmzprogramm/purchasesModule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>calendarModule</servlet-name>
		<url-pattern>/calendarmodule/calendarModule</url-pattern>
		<url-pattern>/kmzprogramm/calendarModule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productionModule</servlet-name>
		<url-pattern>/productionmodule/productionModule</url-pattern>
		<url-pattern>/kmzprogramm/productionModule</url-pattern>
	</servlet-mapping>




	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>KmzProgramm.html</welcome-file>
	</welcome-file-list>

</web-app>
