<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>ru.kmz.web.main.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>templateModule</servlet-name>
		<servlet-class>ru.kmz.web.template.server.TemplateModuleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/kmzprogramm/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>templateModule</servlet-name>
		<url-pattern>/templatemodule/templateModule</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>KmzProgramm.html</welcome-file>
	</welcome-file-list>

</web-app>
